<ul class="menult"> 
  <li class="<%= page === 'inicio' ? 'active' : '' %>">
    <a href="/" class="menu-link">
      <i class="fa-solid fa-house"></i>
      <span>Inicio</span>
    </a>
  </li>

  <li class="<%= page === 'directorio' ? 'active' : '' %>">
    <a href="/directorio" class="menu-link">
      <i class="fa-solid fa-book"></i>
      <span>Directorio</span>
    </a>
  </li>

  <li class="<%= page === 'top' ? 'active' : '' %>">
    <a href="/top" class="menu-link">
      <i class="fa-solid fa-trophy"></i>
      <span>Top</span>
    </a>
  </li>

  <li class="<%= page === 'comunidad' ? 'active' : '' %>">
    <a href="/comunidad" class="menu-link">
      <i class="fa-solid fa-users"></i>
      <span>Comunidad</span>
    </a>
  </li>

  <li class="<%= page === 'historial' ? 'active' : '' %>">
    <a href="/historial" class="menu-link">
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span>Historial</span>
    </a>
  </li>

  <li class="<%= page === 'User' ? 'active' : '' %>">
    <a href="/User" class="menu-link">
      <i class="fa-solid fa-user"></i>
      <span>Perfil</span>
    </a>
  </li>
</ul>
